{% extends "frame.html" %}

{% block title %} Blog Page {% endblock title %}

{% block content %}

<form method="post">
    <input type="text" placeholder="blog message" name="text" autofocus>
    <input type="text" placeholder="author" name="author">
    <button type="submit">Submit</button>
</form>

<ul>
    {% for message in message_list %}
    <li> {{ message.message_text }}, {{ message.author }} <a href="/message/{{ message.key.id() }}/edit">edit</a>  <a href="/message/{{ message.key.id() }}/delete">delete</a>  </li>
    {% endfor %}
</ul>
{% endblock content %}
