<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Hello, SmartNinja!</h1>
    <h2>Please fill out and submit this form to post to /</h2>


    <form method="post" action="/">
        <input name="first_name">
        <input name="last_name">
        <button type="submit">Publish</button>
    </form>

    {% block list%}  {% endblock list%}
</body>
</html>