{% extends "frame.html" %}

{% block title %} My Block Page Title {% endblock title %}

{% if persons_list %}
<h2> Registered Persons: </h2>
<ul>
{% for person in persons_list %}
    <li>{{ person.first_name }}, {{ person.last_name }}</li>
{% endfor %}
</ul>
{% endif -%}
