<body>
    <h1>Message info</h1>

    <p>Message ID: {{ message.key.id() }}</p>
    <p>Name: {{ message.name }}</p>
    <p>Text: {{ message.message_text }}</p>
    <p>Date: {{ message.created }}</p>

    <a href="/message/{{ message.key.id() }}/edit">Edit message</a>
</body>