{% extends "frame.html" %}

{% block title %} Admin Site {% endblock title %}

{% block content %}

{% if is_admin %}
    <h1>Hello, {{ user.nickname }}!</h1>

    <div class="container">

      <form method="post">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nickname</th>
              <th>Email</th>
              <th>Role</th>
              <th>Website Project</th>
              <th><button type="submit" name="button" value="delete">Delete</button></th>
              <th><button type="submit" name="button" value="send_mail">Send Mail</button></th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users_list %}
            <tr>
              <td>{{ user.nickname }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role }}</td>
              <td><a href="{{ user.website_link }}">{{ user.website_link }}</a></td>
              <td><input type="checkbox" name="delete_mail" value="{{user.email}}"></td>
              <td><input type="checkbox" name="send_mail" value="{{user.email}}"></td>
              <td><a href="/user/{{ user.key.id() }}/edit">edit</a></td>

            </tr>
            {% endfor %}
            <tr>
              <td><input type="text" value="" placeholder="nickname" name="new_nickname"></td>
              <td><input type="text" value="" placeholder="email" name="new_email"></td>
              <td>
                <select name="new_role">
                  <option value="member">member</option>
                  <option value="admin">admin</option>
                </select>
              </td>
              <td><input type="text" value="" placeholder="https://example.appspot.com" name="new_website_link"></td>
              <td> </td>
              <td> </td>
              <td><button type="submit" name="button" value="add">Add</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
{% elif logged_in %}
  <h1>Access denied!</h1>
  <h2>Please contact site admin if you have questions</h2>
{% else %}
    <h1>Hello anonymous ninja!</h1>

    <p>Please login here to see the blog: <a href="{{ login_url }}">Login</a></p>
{% endif %}


{% endblock content %}
