<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- JavaScript files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <title>{% block title %} {% endblock title %} </title>

</head>

<body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/manager">Manager</a></li>
            <li><a href="/info">InfoSite</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/weather">Weather</a></li>
            {% if is_admin %}
            <li><a href="/admin">Admin</a></li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if logged_in %}
            <li><a href="{{ logout_url }}"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>{{user.nickname}}</a></li>
            {% else %}
            <li><a href="{{ login_url }}"><span class="glyphicon glyphicon-log-out"></span>Login</a></li>
            {% endif %}
        </ul>
      </div>
    </nav>

    {% block content %} {% endblock content %}

</body>
</html>