{% extends "frame.html" %}

{% block title %} Managersite {% endblock title %}

{% block content %}

    <div class="container">
      <form method="post">
        Create mock entries
        <button name="button" type="submit" value="create_mock_entries">Create Mock Entries</button>
      </form>

      <form method="post">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
              <th><button type="submit" name="button" value="delete">Delete</button></th>
            </tr>
          </thead>
          <tbody>
            {% for person in persons_list %}
            <tr>
              <td>{{ person.first_name }}</td>
              <td>{{ person.last_name }}</td>
              <td>{{ person.email }}</td>
              <td><input type="checkbox" name="delete" value="{{person.email}}"></td>
            </tr>
            {% endfor %}
            <tr>
              <td><input type="text" value="" placeholder="first name" name="new_first_name"></td>
              <td><input type="text" value="" placeholder="last name" name="new_last_name"></td>
              <td><input type="text" value="" placeholder="email" name="new_email"></td>
              <td><button type="submit" name="button" value="add">Add</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

{% endblock content %}
