{% extends "frame.html" %}

{% block title %} Delete Message {% endblock title %}

{% block content %}

    <h1>Do you really want to delete this message?</h1>

    <form action="/message/{{ message.key.id() }}/delete" method="post">
        <button type="submit">YES, delete!</button>
    </form>

{% endblock content %}
