{% extends "frame.html" %}

{% block title %} Weather API {% endblock title %}

{% block content %}
  <h1>Welcome to the Weather Page</h1>

  <h2>This is the weather for {{ city }}</h2>

  <h3>Temperature is: {{ weather_info.list[0].main.temp }} K , Humidity is: {{ weather_info.list[0].main.humidity }} % </h3>
{%endblock content%}
