<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Authentication Example</title>
</head>
<body>

   {% if logged_in %}
    <h1>Hello, SmartNinja {{ user.nickname() }}!</h1>

    <form method="post" action="/result">
        <input name="some_text">
        <button type="submit">Publish</button>
    </form>
    <p>The hashed nickname is: {{my_hash}}</p>
    <p><a href="{{ logout_url }}">Logout</a></p>
    {% else %}
    <h1>Hello anonymous ninja!</h1>

    <p>Please login here: <a href="{{ login_url }}">Login</a></p>
    {% endif %}

</body>
</html>
