{% extends "page_frame.html" %}

{% block title %}My projects{% endblock title %}

{% block page_content %}
    <h1>Hello, SmartNinja!</h1>
    <h2>This is the content of the assembled page, on the assembled page</h2>
{% endblock page_content %}
