<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartNinja basic Jinja template</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Hello, SmartNinja!</h1>
    <h2>Please guess the secret number between [0,10] </h2>

    <form method="post">
        <input name="some_text">
        <button type="submit">Publish</button>
    </form>


    {% if not did_guess %}
    <h3>Please guess</h3>
    {% elif input2 %}
    <h3>You won</h3>
    {% else %}
    <h3>You lost</h3>
    <p> The number was: {{ winnernumber }} </p>
    {% endif %}

    <ul>
        {% for guess in guessed_numbers %}
        <li> {{guess}}</li>
        {% endfor %}
    </ul>

</body>
</html>
