<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Message list</title>
    </head>
    <body>
        <h1>List of all messages</h1>

        <ol>
            {% for message in messages %}
            <li> <a href="/message/{{ message.key.id() }}"> {{ message.message_text }} </a>  </li>
            {% endfor %}
        </ol>

    </body>
</html>