<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Message Details</title>
</head>
<body>
    <h1>Message Details</h1>

    <div class="container">
      <h2>Hover Rows</h2>
      <p>The .table-hover class enables a hover state on table rows:</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Message</th>
            <th>Author</th>
            <th>Timestamp</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{message.key.id()}}</td>
            <td>{{message.message_text}}</td>
            <td>{{message.author}}</td>
            <td>{{message.created}}</td>
          </tr>
        </tbody>
      </table>
    </div>

</body>
</html>