{% extends "frame.html" %}

{% block title %} Blog Page {% endblock title %}

{% block content %}

<form method="post">
    <input type="text" placeholder="blog message" name="text" autofocus>
    <button type="submit">Submit</button>
</form>

<ul>
    {% for message in message_list %}
    <li> {{ message.message_text }}  </li>
    {% endfor %}
</ul>
{% endblock content %}
