{% extends "frame.html" %}

{% block title %} Infosite {% endblock title %}

{% block content %}
<a href="#" class="btn btn-info" role="button">Link Button</a>
<button type="button" class="btn btn-info">Button</button>
<input type="button" class="btn btn-info" value="Input Button">
<input type="submit" class="btn btn-info" value="Submit Button">
{% endblock content %}
