{% extends "frame.html" %}

{% block title %} Managersite {% endblock title %}

{% block content %}

    <div class="container">
      <form method="post">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for person in persons_list %}
            <tr>
              <td>{{ person.first_name }}</td>
              <td>{{ person.last_name }}</td>
              <td>{{ person.email }}</td>
              <td><input type="checkbox" name="delete" value="{{person.email}}"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <button type="submit">Delete</button>
      </form>
    </div>

{% endblock content %}
