{% extends "frame.html" %}

{% block title %} Infosite {% endblock title %}

{% block content %}


{% if logged_in %}
    <h1>Hello, SmartNinja {{ user.nickname() }}!</h1>

    <div class="container">

      <form method="post">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nickname</th>
              <th>Email</th>
              <th>Role</th>
              <th><button type="submit" name="button" value="delete">Delete</button></th>
              <th><button type="submit" name="button" value="send_mail">Send Mail</button></th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users_list %}
            <tr>
              <td>{{ user.nickname }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role }}</td>
              <td><input type="checkbox" name="delete_mail" value="{{user.email}}"></td>
              <td><input type="checkbox" name="send_mail" value="{{user.email}}"></td>
              <td><a href="/user/{{ user.key.id() }}/edit">edit</a></td>

            </tr>
            {% endfor %}
            <tr>
              <td><input type="text" value="" placeholder="nickname" name="new_nickname"></td>
              <td><input type="text" value="" placeholder="email" name="new_email"></td>
              <td><input type="text" value="" placeholder="role" name="new_role"></td>
              <td> </td>
              <td> </td>
              <td><button type="submit" name="button" value="add">Add</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

    <p><a href="{{ logout_url }}">Logout</a></p>
{% else %}
    <h1>Hello anonymous ninja!</h1>

    <p>Please login here to see the blog: <a href="{{ login_url }}">Login</a></p>
{% endif %}


{% endblock content %}
