{% extends "frame.html" %}

{% block title %} Blog Page {% endblock title %}

{% block content %}



<h1> Login Status: {{ logged_in }} </h1>


{% if logged_in %}
    <h1>Hello, SmartNinja {{ user.nickname() }}!</h1>

    <ul>
        {% for message in message_list %}
        <li> {{ message.message_text }}, {{ message.author }} <a href="/message/{{ message.key.id() }}/edit">edit</a>  <a href="/message/{{ message.key.id() }}/delete">delete</a>  </li>
        {% endfor %}
    </ul>

    <p><a href="{{ logout_url }}">Logout</a></p>
{% else %}
    <h1>Hello anonymous ninja!</h1>

    <p>Please login here to see the blog: <a href="{{ login_url }}">Login</a></p>
{% endif %}


{% endblock content %}
