{% extends "frame.html" %}

{% block title %} Edit Message {% endblock title %}

{% block content %}
    <form action="/message/{{ message.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ message.message_text }}">
        <input name="author" value="{{ message.author }}">
        <button type="submit">OK</button>
    </form>
{% endblock content %}