{% extends "frame.html" %}

{% block title %} Edit User {% endblock title %}

{% block content %}
    <form action="/user/{{ user.key.id() }}/edit" method="post">
        <input name="nickname" value="{{ user.nickname}}">
        <input name="email" value="{{ user.email}}">
        <select name="role">
            {% if  user.role == "admin"%}
          <option value="member">member</option>
          <option value="admin" selected>admin</option>
            {% else %}
          <option value="member" selected>member</option>
          <option value="admin">admin</option>
            {% endif %}
        </select>
        <button type="submit">OK</button>
    </form>
{% endblock content %}