<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Winner</title>
</head>
<body>
    {% if is_winner %}
        <p>You are a winner</p>
    {% else %}
        <p>Sorry, you are not a winner</p>
    {% endif %}
</body>
</html>