<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartNinja basic Jinja template</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Hello, {{fruits}}</h1>
    <h2>Jinja for list for fruits</h2>
    <ul>
        {% for fruit in fruits %}
        <li> {{fruit}}</li>
        {% endfor %}
    </ul>
</body>
</html>