<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/styles.css">
    <title>Calculator</title>
</head>
<body>
    <h1>Calculator</h1>

    <form method="post">
        <input type="number" name="number_1" required autofocus>
        <input type="number" name="number_2" required>
        <button type="submit">Submit</button>
    </form>

    <h2>Result</h2>
    <p>{{result}}</p>

    <div>
        <!-- Comment -->
        <img src="/assets/img/kitten.jpg">
        <audio src="/assets/audio/mymusic.mp3"></audio>
        <video src="/assets/video/myvideo.mp4"></video>
    </div>

</body>
</html>